boto3
google-cloud-storage
azure-storage-blob
pandas
PyYAML
connectorx
snowflake-connector-python[pandas]
mysql-connector-python-rf
elasticsearch
pymongo
mariadb
pyarrow
fastparquet
openpyxl
xlrd
xlwt