boto3 >= 1.26.93
google-cloud-storage >= 2.7.0
azure-storage-blob >= 12.15.0
pandas
PyYAML
connectorx
sqlalchemy==1.4.46
snowflake-connector-python[pandas]
mysql-connector-python-rf
elasticsearch
pymongo
fastparquet
openpyxl
xlrd
xlwt